.background {
  position: absolute;
  top:0%;
  width: 100%;
  height: 100%;
  background: black;
}

.backgroundC {
  position: absolute;
  top:0%;
  width: 100%;
  height: 100%;
  background: black;
}

.logo{
    align-items: center;
    justify-content: center; 
    position: relative;
    margin-left: 0px;
    height:470px;
    width:470px;
    border-radius: 100px;
  }

  .title {
    text-shadow: -1px 5px 0 #000,
    5px 5px 0 #000,
    5px -1px 0 #000,
    -1px -1px 0 #000;
    font-style: normal;
    -moz-user-select: none ;
    -ms-user-select: none ;
    user-select: none ;
    color: #ffffff;
    margin-top:30px;
    margin-left: 0px;
    font-size: 38px;
  }