.background {
    background-image: url('https://ak.picdn.net/shutterstock/videos/1062721126/thumb/5.jpg?ip=x480');
}

.backgroundC{
    position: absolute;
    top:0%;
    width: 100%;
    height: 100%;
    background: black;
}

.title {
  text-shadow: -1px 5px 0 #000,
  5px 5px 0 #000,
  5px -1px 0 #000,
  -1px -1px 0 #000;
  font-family: 'Press Start 2P';
  -moz-user-select: none ;
  -ms-user-select: none ;
  user-select: none ;
  color: #ffffff;
  text-align: center;
  margin-top:40px;
  font-size: 45px; 
}
.eightbitBtn {
  display: inline-block;
  position: relative; 
  text-align: center;
  padding: 15px;
  color: #000000;
  text-decoration: none;
  width: 160px;
  padding:8px;
  border-radius: 20px;
  background-color: #000000;
  color: #FFF;
  font-size: medium;
  font-style: normal;
  border: solid 3px #FFF;
  transition: 500ms;
}
.eightbitBtn:hover, .eightbitBtn:focus {
  background: #d8d80c;
  cursor: pointer;
  box-shadow: inset -6.5px -6.5px 0px 0px #4c4c0a;
}
.eightbitBtn:active {
  background: #b3b308;
  box-shadow: inset 4px 4px 0px 0px #4c4c0a;
}
.eightbitBtn:before, .eightbitBtn:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
}
.eightbitBtn:before {
  top: -6px;
  left: 0;
  border-top: 6px black solid;
  border-bottom: 6px black solid;
}
.eightbitBtn:after {
  left: -6px;
  top: 0;
  border-left: 6px black solid;
  border-right: 6px black solid;
}

.logo{
  align-items: center;
  justify-content: center; 
  position: relative;
  height:450px;
  width:470px;
  border-radius: 100px;
  top: -27px
}

